In [142]:
import pandas as pd

In [177]:
df = pd.read_csv("../data/vehicles.csv")

In [144]:
df

,brand,category,created_at,description,image_count,mileage,price,title,year
0,NaN,heavy,Tuesday 07PM,سریال 43j$NUMبدون شکستگی سه حلقه لاستیک نو یک ...,4,NaN,-1,لودر کاتر پیلار 950,NaN
1,سایر,light,Wednesday 04AM,دوگانه ال پی جی بیمه با تخفیف دارد \nتودوزی نو...,3,180000.0,-1,پاترول شش سیلندر چهار درب,1366
2,پژو ۴۰۵::Peugeot 405,light,Wednesday 11AM,پژو 2000فنی تازه تعمیر بدنه بدون خطو خش تخیف ب...,0,290000.0,8500000,پژو مدل 81 مشکی,1381
3,نیسان::Nissan,light,Wednesday 01PM,سلام.\nماشین کاملا سالم همه چی فابریک متور زد ...,3,175000.0,19500000,پاترول 2در,1372
4,سمند::Samand,light,Thursday 07AM,سمند ال ایکس بدون رنگ تمامی سرویس ها انجام شده...,4,80000.0,23900000,سمند دوگانه کارخانه,1391
...,...,...,...,...,...,...,...,...,...
130438,NaN,heavy,Wednesday 03PM,بادسان فوق بیرنگ سفید رنگ بیمه تابرج 3.96 تخفی...,2,NaN,48000000,بادسان 8b14 مدل83,NaN
130439,NaN,heavy,Wednesday 06PM,باسلام .تراکتورازصفری دست خودم بوده.سالم.ودارا...,4,NaN,-1,تراکتورگلدونی ۲۳۸ایتالیا,NaN
130440,سمند::Samand,light,Wednesday 06PM,ماشینم تصادفیه با خریدار توافق میکنم سر قیمتش,3,20000.0,-1,خودرو سمند تصادفی مدل92,1392
130441,پراید صندوق‌دار::Pride,light,Thursday 03PM,سند۲ برگ،بیمه تا برج$NUMتخفیفات بیمه 15 سال،مع...,4,123000.0,6900000,پراید 79 بسیار سالم,1379
130442,پراید صندوق‌دار::Pride,light,Friday 04PM,پراید دوگانه کارخانه میباشد و کم کارکرد.روکش ....,3,43000.0,17400000,پراید دوگانه کارخانه مدل93,1393

In [145]:
df.describe()

         image_count        mileage         price
count  130443.000000  120451.000000  1.304430e+05
mean        1.865527  100862.291944  2.224718e+07
std         1.471163   98368.470916  3.079805e+07
min         0.000000       0.000000 -1.000000e+00
25%         0.000000   19000.000000  7.400000e+06
50%         2.000000   75000.000000  1.450000e+07
75%         3.000000  160000.000000  2.500000e+07
max        14.000000  500000.000000  4.000000e+08

First, we drop the rows with **price = -1**:

In [146]:
df = df[df.price != -1]

In [147]:
df

,brand,category,created_at,description,image_count,mileage,price,title,year
2,پژو ۴۰۵::Peugeot 405,light,Wednesday 11AM,پژو 2000فنی تازه تعمیر بدنه بدون خطو خش تخیف ب...,0,290000.0,8500000,پژو مدل 81 مشکی,1381
3,نیسان::Nissan,light,Wednesday 01PM,سلام.\nماشین کاملا سالم همه چی فابریک متور زد ...,3,175000.0,19500000,پاترول 2در,1372
4,سمند::Samand,light,Thursday 07AM,سمند ال ایکس بدون رنگ تمامی سرویس ها انجام شده...,4,80000.0,23900000,سمند دوگانه کارخانه,1391
5,پژو ۴۰۵::Peugeot 405,light,Thursday 08AM,بیمه یکسال ده سال تخفیف دور رنگ شاسی پلمپ سالم,3,125000.0,8500000,پژو405 مدل84,1384
6,ام‌وی‌ام::MVM,light,Thursday 08AM,ام وی ام چهار سیلندر مدل 93 فنی سالم بدون رنگ ...,2,11000.0,18500000,ام وی ام 110 چهار سیلندر,1393
...,...,...,...,...,...,...,...,...,...
130435,تندر ۹۰::Tondar 90,light,Tuesday 02PM,فوق‌العاده سالم بدون رنگ دزدگیر ماجیکار شیشه ه...,2,173000.0,30000000,ال۹۰ E2,1390
130436,پراید صندوق‌دار::Pride,light,Tuesday 05PM,مدل 84 تمیز. بدون رنگ. سیستم صوتی. رینگ و لاست...,3,140000.0,11000000,پراید مدل 84 بدون رنگ,1384
130438,NaN,heavy,Wednesday 03PM,بادسان فوق بیرنگ سفید رنگ بیمه تابرج 3.96 تخفی...,2,NaN,48000000,بادسان 8b14 مدل83,NaN
130441,پراید صندوق‌دار::Pride,light,Thursday 03PM,سند۲ برگ،بیمه تا برج$NUMتخفیفات بیمه 15 سال،مع...,4,123000.0,6900000,پراید 79 بسیار سالم,1379
130442,پراید صندوق‌دار::Pride,light,Friday 04PM,پراید دوگانه کارخانه میباشد و کم کارکرد.روکش ....,3,43000.0,17400000,پراید دوگانه کارخانه مدل93,1393

In [148]:
df.dtypes

brand           object
category        object
created_at      object
description     object
image_count      int64
mileage        float64
price            int64
title           object
year            object
dtype: object

### Replacing NaN values:

In [149]:
for col in list(df.columns):
    print(col,"has {0} NaN values".format(df[col].isna().sum()))

brand has 6255 NaN values
category has 0 NaN values
created_at has 0 NaN values
description has 0 NaN values
image_count has 0 NaN values
mileage has 6255 NaN values
price has 0 NaN values
title has 0 NaN values
year has 6255 NaN values

We have NaN values in the following columns:
1. brand
2. mileage
3. year

In [150]:
nan_cols = ["brand","mileage", "year"]
print(df[nan_cols].mode())

                    brand   mileage  year
0  پراید صندوق‌دار::Pride  200000.0  1393

In [151]:
for col in nan_cols:
    print("Column {} has {} NaN values".format(col, df[col].isna().sum()))

Column brand has 6255 NaN values
Column mileage has 6255 NaN values
Column year has 6255 NaN values

In [152]:
df.loc[:,"brand"].fillna("پراید صندوق‌دار::Pride", inplace = True)
df.loc[:,"mileage"].fillna("200000.0", inplace = True)
df.loc[:,"year"].fillna("1393", inplace = True)

In [153]:
for col in nan_cols:
    print("Column {} has {} NaN values".format(col, df[col].isna().sum()))

Column brand has 0 NaN values
Column mileage has 0 NaN values
Column year has 0 NaN values

Now we convert the categorial values:
1. brand
2. category
3. created_at
4. description
5. title
6. year

to numerical values so we can use the **mutual_info_regression()** method which only works with numerical values:

In [176]:
from sklearn.preprocessing import OneHotEncoder


numerical_cols = list(df._get_numeric_data().columns)
categorical_cols = [x for x in list(df.columns) if x not in numerical_cols]


categorical_cols.remove('description')
print(categorical_cols)

encoder = OneHotEncoder()

onehot = encoder.fit_transform(df[categorical_cols]).toarray()
# encoder_cols = encoder.get_feature_names(categorical_cols)
# categorical_df = pd.DataFrame(onehot, columns = encoder_cols)

# categorical_df

['brand', 'category', 'created_at', 'mileage', 'title', 'year']

TypeError: argument must be a string or number

In [158]:
# X = df
# y = df.price

In [159]:
# X

In [160]:
# y

In [161]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
# mi = mutual_info_regression(X_train, y_train)
# #mi = pd.Series(mi)
# #mi.index = X_train.columns
# #mi.sort_values(ascending=False, inplace = True)